@model SiteOverseer.Models.FacilityType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FacilityType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FciltypCde" class="control-label"></label>
                <input asp-for="FciltypCde" class="form-control" />
                <span asp-validation-for="FciltypCde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FciltypDesc" class="control-label"></label>
                <input asp-for="FciltypDesc" class="form-control" />
                <span asp-validation-for="FciltypDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CmpyId" class="control-label"></label>
                <input asp-for="CmpyId" class="form-control" />
                <span asp-validation-for="CmpyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevdTetime" class="control-label"></label>
                <input asp-for="RevdTetime" class="form-control" />
                <span asp-validation-for="RevdTetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

