@model SiteOverseer.Models.ChangePassword

@{
    ViewData["Title"] = "";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" asp-controller="Users" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Change Password</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="ChangePasswords" asp-action="ChangePassword" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="UserId" type="hidden" />
                            <div class="form-group">
                                <label asp-for="UserCde" class="control-label">User Code</label>
                                <input asp-for="UserCde" class="form-control" readonly />
                                <span asp-validation-for="UserCde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserNme" class="control-label">User Name</label>
                                <input asp-for="UserNme" class="form-control" readonly />
                                <span asp-validation-for="UserNme" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"> Password</label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label"> New Password</label>
                                <input type="password" asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label">Comfrim Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="d-flex mr-2">
                                <div class="form-group d-flex mr-2 ">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>

                            <div class="form-group">
                                <button type="submit" value="ResetPassword" class="btn btn-danger">
                                    Reset Password to Default
                                </button>
                            </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



