@model SiteOverseer.Models.User

@{
    ViewData["Title"] = "User";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Create</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="UserCde" class="control-label">User Code</label>
                                <input asp-for="UserCde" class="form-control" />
                                <span asp-validation-for="UserCde" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UserNme" class="control-label">User Name</label>
                                <input asp-for="UserNme" class="form-control" />
                                <span asp-validation-for="UserNme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Position" class="control-label">Gender</label>
                                <select asp-for="Position" class="form-control">
                                    <option value="">- Select One -</option>
<<<<<<< Updated upstream
                                    <option value="1"> Option 1</option>

>>>>>>> Stashed changes
                                </select>
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label">Gender</label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="">- Select One -</option>

=======
                                    <option value="1">1</option>
>>>>>>> Stashed changes
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>

                           
                            <div class="form-group">
                                <label asp-for="Pwd" class="control-label"> Password</label>
                                <input asp-for="Pwd" class="form-control" />
                                <span asp-validation-for="Pwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pwd" class="control-label">Comfrim Password</label>
>>>>>>> Stashed changes
                                <input asp-for="Pwd" class="form-control" />
                                <span asp-validation-for="Pwd" class="text-danger"></span>
                            </div>


>>>>>>> Stashed changes

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



