@model SiteOverseer.Models.Menuaccess

@{
    ViewData["Title"] = "Menu Access";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Create</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group text-danger">@ViewData["Msg"]</div>
                            <div class="form-group">
                                <label asp-for="MnugrpId" class="control-label">Menu Group Name</label>
                                
                                <select asp-for="MnugrpId" class="form-control" asp-items="@ViewBag.MenuGpList">
                                    <option value="">- Select One -</option>
                                </select>
                                <span asp-validation-for="MnugrpId" class=" text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BtnNme" class="control-label">Menu Name</label>
                                <input asp-for="BtnNme" class="form-control" />
                                <span asp-validation-for="BtnNme" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}


